@page "/"

@inherits FluxorComponent

<Banner />

@foreach (var post in BlogsState.Value.Posts)
{
    <span>@post.Author</span>
    <br />
    <span>@post.Description</span>
    <br />
    <span>@post.Published</span>
    <br />
    <span>@post.Title</span>
    <br />
    <span>@post.Url</span>
    <br />

    <br />
    <br />
}